*{display: flex;
flex-flow: row wrap;
};

body {
  background-color: purple;
  };


#btnGroup {
  flex-direction:;
  }

/* .cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  } */
