body {
  background-color: purple;
  };

/* #modalContainer {
  display: flex;
} */

 #btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#cardContainer {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  }
